<template>
  <MainLayout>
      <template v-slot:aux>
          <h5>Main content</h5>
      </template>
      <template #main>
          <p>About view</p>
      </template>
  </MainLayout>
</template>

<script lang="ts" setup>
import MainLayout from '@/layouts/MainLayout.vue'

</script>
