<template>
    <MainLayout>
        <template v-slot:aux>
            <h5>Main content</h5>
        </template>
        <template #main>
            <p>X position is {{ x }}</p>
            <p>Y position is {{ y }}</p>
        </template>
    </MainLayout>
</template>

<script lang="ts" setup>
import MainLayout from '@/layouts/MainLayout.vue'
import {useMouse} from '@/composables/useMouse'

const {x,y} =useMouse()

</script>
